
@media (max-width: 700px) {
    .one, .two, .three {
        background-color: rgb(150, 202, 73);
        height: 4px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }
    .menu-toggle {
        width: 35px;
        height: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}