.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 40px;
    max-width: 80vw;
}

@media (max-width:580px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(253px, 1fr));
    }
}