.header {
    margin: 0 10vw 0;
}

.img {
    width: 56.7vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0%;
    right: 0%;
    background-color: aqua;
}

.topContain {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.inputQuestion {
    width: 20vw;
    color: rgb(0, 0, 109);
    font-size: 3rem;
}