.header {
    display: flex;
    margin: 0 10vw 0;
}

.img {
    width: 56.7vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    right: 0;
}

.topContain {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}