html {
  font-size: 62.5%;
}
body, html{
  padding:0;
  margin:0;
}

@media (max-width:1260px) {
  html {
      font-size: 55%;
  }
}

@media (max-width:1130px) {
  html {
      font-size: 50%;
  }
}

