.body-Bottom {
    background-color: rgb(248, 248, 248);
    padding-top: 3rem;
    padding-bottom: 5vh;
    overflow: hidden;
}
.body-Bottom .initial-texts .tittle {
    color: rgb(0, 0, 88);
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    /* margin-top: 3rem; */
    margin-bottom: 1rem;
}

.body-Bottom .initial-texts .text {
    font-size: 2rem;
    font-family: 'Red Hat Display', sans-serif;
    color: rgb(190, 190, 190);
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 3.5rem;
    text-align: center;
    margin: 0 30rem 0;
}

.test-square {
    width: 100%;
    height: 55rem;
    margin-top: 5vh;
    overflow: hidden;
}

.carosel{
    background: rgb(25,62,96);
    background: linear-gradient(90deg, rgba(25,62,96,0) 0%, rgb(248, 248, 248) 17%, rgb(248, 248, 248) 83%, rgba(44,135,218,0) 100%);
    margin: 0 2vw;
}

.body-Bottom .container-card{
    display: block;
    height: 50rem;
    width: 20vw;
    background-color: white;
}

.body-Bottom .button-group {
    display: flex;
    margin-top: 0;
    height: 50%;
    flex-wrap: wrap;
    justify-items: space-between;
    justify-content: center;
}

.body-Bottom button {
    align-self: flex-end;
    margin-bottom: 5%;
}

.body-Bottom .text-card{
    margin-top: 5%;
    width: 100%;
}

@media (max-width: 1260px) {
    .body-Bottom .text-card{
        margin-bottom: 0;
    }
    .body-Bottom .container-card {
        padding-bottom: 2vh;
    }
    .body-Bottom .button-group {
        height: 48%;
    }
}

@media (max-width: 1143px) {
    .body-Bottom .button-group {
        height: 48%;
    }
}

@media (max-width: 1130px) {
    .body-Bottom .button-group {
        height: 43%;
    }
    .body-Bottom .text-card {
        font-size: 2.5rem;
    }
}

@media (max-width: 905px) {
    .body-Bottom .initial-texts .text {
        font-size: 1.5rem;
        margin: 0 20% 0;
    }
    .body-Bottom .container-card {
        width: 90%;
        height: 60vh;
    }
    .body-Bottom .text-card {
        font-size: 2.5rem;
    }
    .body-Bottom .test-square {
        height: 65rem;
    }
}

@media (max-width: 580px) {
    .body-Bottom .container-card {
        height: 45rem;
    }
    .body-Bottom .button-group {
        height: 55%;
    }
}

@media (max-width: 511px) {
    .body-Bottom .container-card {
        height: 50rem;
    }
    .body-Bottom .button-group {
        height: 28%;
    }
}

@media (max-width: 376px) {
    .body-Bottom .container-card {
        height: 50rem;
    }
    .body-Bottom .button-group {
        height: 35%;
    }
}

@media (max-width: 336px) {
    .body-Bottom .container-card {
        height: 50rem;
    }
    .body-Bottom .button-group {
        height: 40%;
    }
}